<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="product.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="product.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          class="form-control"
          id="price"
          required
          v-model="product.price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input
          class="form-control"
          id="stock"
          required
          v-model="product.stock"
          name="stock"
        />
      </div>
      <div class="form-group">
        <label for="imgURL">Image URL of the Product</label>
        <input
          class="form-control"
          id="imgURL"
          required
          v-model="product.imgURL"
          name="imgURL"
        />
      </div>
      <p>The <strong>uploadedAt</strong> and <strong>quantity</strong> field are generated automatically.</p>
      <button @click="saveProduct" class="btn btn-success">Submit</button>
    </div>
    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newProduct">Add</button>
    </div>
  </div>
</template>

<script>
import ProductDataService from "../services/ProductDataService";

export default {
  name: "add-product",
  data() {
    return {
      product: {
        id: null,
        title: "",
        description: "",
        price : null,
        likes : null,
        uploadedAt : null,
        published: false
      },
      submitted: false
    };
  },
  methods: {
    saveProduct() {
      var data = {
        title: this.product.title,
        description: this.product.description,
        price: this.product.price,
        likes: 0,
        stock: this.product.stock,
        quantity: 0,
        imgURL:this.product.imgURL,
        uploadedAt: new Date().toLocaleString(),
      };

      ProductDataService.create(data)
        .then(response => {
          this.product.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newProduct() {
      this.submitted = false;
      this.product = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
