<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Product List</h4>
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(product, index) in products"
          :key="index"
          @click="setActiveProduct(product, index)"
        >
          {{ product.title }}
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllProducts">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentProduct">
        <h4>Product</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentProduct.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label> {{ currentProduct.description }}
        </div>
        <div>
          <label><strong>Price:</strong></label> {{ currentProduct.price }}€
        </div>
        <div>
          <label><strong>Likes:</strong></label> {{ currentProduct.likes }}
        </div>
        <div>
          <label><strong>Upload date:</strong></label> {{ currentProduct.uploadedAt }}
        </div>
        <div>
          <label><strong>Stock:</strong></label> {{ currentProduct.stock }}
        </div>
        <div>
          <label><strong>Status:</strong></label> {{ currentProduct.published ? "Published" : "Pending" }}
        </div>
        <div>
          <img v-bind:src="currentProduct.imgURL" /> 
        </div>

        <router-link :to="'/products/' + currentProduct.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br/>
        <p>Please click on a Product...</p>
      </div>
    </div>
  </div>
</template>

<script>
import ProductDataService from "../services/ProductDataService";

export default {
  name: "products-list",
  data() {
    return {
      products: [],
      currentProduct: null,
      currentIndex: -1,
      title: ""
    };
  },
  methods: {
    retrieveProducts() {
      ProductDataService.getAll()
        .then(response => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveProducts();
      this.currentProduct = null;
      this.currentIndex = -1;
    },

    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = index;
    },

    removeAllProducts() {
      // Iterate the array with the products and remove each item
      if (this.products.length != 0) {
        for (let i =  0; i < this.products.length; i++) {
          let id = this.products[i].id;
          ProductDataService.delete(id)
          .then(response => {
            console.log(response.data);
          })
          .catch(e => {
            console.log(e);
          });
        }
        // Change the list of products
        this.retrieveProducts();
      } else {
        window.alert("There are no products in the database!");
      } 
    },
    
    searchTitle() {
      ProductDataService.findByTitle(this.title)
        .then(response => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveProducts();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
